/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */
@import "base/typography";

html {
  box-sizing: border-box;
}

// stylelint-disable-next-line selector-max-universal
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: $font-montserrat-medium;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
}
